<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title start><img src="assets/img/logo.svg" class="logo"></ion-title>
		<button ion-button icon-only menuToggle right><ion-icon name="menu"></ion-icon></button>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page">
	<div *ngIf="youTubeUrl">
		<!-- <video [src]="source" [poster]="poster" controls style="width: 100%;"></video> -->
		<iframe width="100%" height="315" [src]="youTubeUrl" frameborder="0" allowfullscreen></iframe>
	</div>	
	<ion-toolbar color="primary">
		Latest Sermon
	</ion-toolbar>
	<!-- <pre>{{news|json}}</pre> -->
	<ion-card *ngFor="let post of news; let i = index">
		<img *ngIf="post.MediaImage.filename" src="{{rootUrl}}/img/thumb/{{post.MediaImage.filename}}/width:1000/height:600/crop:true/zoom:auto" />
		<ion-card-content>
			<ion-card-title>{{post.NewsArticle.title}}</ion-card-title>
			<div [innerHTML]="post.NewsArticle.body"></div>
		</ion-card-content>
	</ion-card>
</ion-content>