<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title center>Events</ion-title>
		<button ion-button icon-only menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<div *ngFor="let month of events">
			<!-- <ion-item-divider>{{month.name}}</ion-item-divider> -->
			<div *ngFor="let day of month.days">
				<ion-item-divider color="primary">{{day.name}}</ion-item-divider>
				<div *ngFor="let event of day.events">
					<ion-item>
						<div item-start>{{event.OccurrenceStartTime | amLocal | amDateFormat:'h:mma'}}</div>
						{{event.Name}}
					</ion-item>
				</div>
			</div>
		</div>
	</ion-list>
	<!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll> -->
</ion-content>