<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title center>Events</ion-title>
		<button ion-button icon-only menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let event of events">
			<div item-start>{{event.OccurrenceStartTime | amLocal | amDateFormat:'M/DD h:mma'}}</div>
			{{ event.Name }}
		</ion-item>
		<!-- <button ion-item *ngFor="let event of events">
			<div item-start>{{event.StartDate | amLocal | amDateFormat:'dd Mo h:mma'}}</div>
			{{event.EventName}}
		</button> -->
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>