<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title center>Events</ion-title>
		<button ion-button icon-only menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<div *ngFor="let month of events">
			<ion-item-divider>{{month.name}}</ion-item-divider>
			<div *ngFor="let day of month.days">
				<ion-item>
					<h1><em>{{day.name}}</em></h1>
				</ion-item>
				<div *ngFor="let event of day.events">
					<ion-item>
						<div item-start>{{event.StartDate | amLocal | amDateFormat:'h:mma'}}</div>
						{{event.EventName}}
					</ion-item>
				</div>
			</div>
		</div>
		<!-- <button ion-item *ngFor="let event of events">
			<div item-start>{{event.StartDate | amLocal | amDateFormat:'dd Mo h:mma'}}</div>
			{{event.EventName}}
		</button> -->
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>